// Specific CSS for your home-page

.wallpaper {
  height: calc(100vh - 67.5px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7DAFED;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.navbar-bottom {
  display: none;
  visibility: hidden;
}


.btn-home {
    background-color: transparent;
    border: 2px solid #000000;
    color: #6EB1F3;
    border-radius: 50px;
    font-size: 14px;
    margin: 125px;
}

.btn-home:hover, .btn-home:focus, .btn-home:active, .btn-home.active, .open>.dropdown-toggle.btn-home {
    color: #6EB1F3;
    background-color: #435A71;
    border: 2px solid #6EB1F3;
}

//chager px en vh
/*body {
  background-color: #000000;
  width: 414px;
  height: 896px;
}

.home {
  height: calc(70vh - 63px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  //       haut  droite bas   gauche
  padding: 150px   0px  150px   0px;
  color: #E9E9EA;
  font-size: 100px;
}

.text {
  color: #E9E9EA;
  padding: 0px 0px  150px 0px;
  font-size: 20px;
}

/*
.navbar-lewagon {
  display: none;
  visibility: hidden;
}

.btn-blue {
  font-size: 20px;
  padding: 20px 20px;
  background-color: aqua;
  text-decoration: none;
}*/
