// Specific CSS for your home-page

.wallpaper {
  height: calc(100vh - 67.5px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7DAFED;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card-title.font-weight-bold.mb-4 {
  text-align: center;
}

.navbar-bottom-home {
  display: none;
  visibility: hidden;
}

.btn-home {
  background-color:white;
  color: #1E2226;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: bolder;
  margin: 95px;
  padding: 20px 60px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

.btn-home:hover, .btn-home:focus, .btn-home:active, .btn-home.active, .open>.dropdown-toggle.btn-home {
  color: #6EB1F3;
  background-color: #435A71;
  border: 2px solid #6EB1F3;
}
