// Import page-specific CSS files here.
@import "home";

.card.panels-card .hour {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
.card-index {
  min-height: 130px;
  background: #ffffff;
  color: #344050;
  border-radius: 10px
}
.product-img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  // object-fit: contain; Alex: Picture to be not stretch, use this value
  object-position: 100%;
  border-radius: 15px;
}
.color-A {
  background-color: #1E8F4E;
}

.color-B {
  background-color: #2ECC71;
}

.color-C {
  background-color: #F5C100;
}

.color-D {
  background-color: #EF7E1A;
}

.color-E {
  background-color: #E62D1A;
}
