<div class="navbar-bottom d-flex justify-content-center">
  <a href="#home" class="active"> <i class="fa fa-home"></i> Home</a>
  <a href="#"> <i class="fa fa-search"></i> Search</a>
  <a href="#"> <i class="fa fa-dashboard"></i> Dashboard</a>
  <a href="#"> <i class="fa fa-history"></i> History</a>
</div>
