<!-- Version sans text et tout les boutons
<div class="navbar-bottom d-flex justify-content-center">
  <a href="#home" class="active"> <i class="fa fa-home"></i></a>
  <a href="#"> <i class="fa fa-search"></i></a>
  <a href="#"> <i class="fa fa-dashboard"></i></a>
  <a href="#"> <i class="fa fa-history"></i></a>
</div>
-->


<div class="navbar-bottom d-flex justify-content-center">
  <a href="#home" class="mr-1 ml-1" > <i class="fa fa-ellipsis-h"></i> More</a>
  <a href="#products" class="mr-1 ml-1" > <i class="fa fa-search"></i> Search</a>
  <a href="#" class="mr-1 ml-1" > <i class="fa fa-dashboard"></i> Dashboard</a>
  <a href="#" class="mr-1 ml-1" > <i class="fa fa-history"></i> History</a>
</div>


<!-- Version finale
<div class="navbar-bottom d-flex justify-content-center">
  <a href="#"> <i class="fa fa-search"></i> Search</a>
  <a href="#"> <i class="fa fa-dashboard"></i> Dashboard</a>
  <a href="#"> <i class="fa fa-history"></i> History</a>
</div>
-->
<!-- Version finale
<div class="navbar-bottom d-flex justify-content-center navbar-bottom-home">
  <%= link_to "", products_path, class: "fa fa-search" %>
</div>
-->
