<div class="navbar-bottom shadow-lg d-flex justify-content-center <%= yield(:footer_class)%>">
  <%# <a href="products" class="mr-1 ml-1" > <i class="fa fa-search"></i> Search</a> %>
  <%= link_to history_path, class:"mr-5 ml-5 mt-3 mb-3" do %>
    <i class="fa fa-xl fa-history"></i>
  <% end %>
  <%= link_to dashboards_path, class:"mr-5 ml-5 mt-3 mb-3" do %>
    <i class="fa fa-xl fa-pie-chart"></i>
  <% end %>
  <%= link_to products_path, class:"mr-5 ml-5 mt-3 mb-3" do %>
    <i class="fa fa-xl fa-search"></i>
  <% end %>

</div>
