<%= content_for(:footer_class, "navbar-bottom-home") %>
<%= content_for(:navbar_class, "navbar-bottom-home") %>

<div class="bg-image d-flex flex-column align-items-center justify-content-between"
     style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1584473457406-6240486418e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMHByb2R1Y3RzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=600&q=60);
            height: 100vh">
    <%= image_tag "logo-2.png" %>
    <div class="d-flex flex-column">
      <h1 class="font-weight-bold text-center mb-5" style="color: #ffffff; text-shadow: 1px 1px 3px rgba(0,0,0,0.2);" >Eat Better For the Planet</h1>
      <%= link_to "Start Now!", products_path, class: "btn btn-primary font-weight-bold p-3 mr-3 ml-3 mb-5", style: "background-color:#8387F5; box-shadow: 0 0 15px rgba(0,0,0,0.2); color:#ffffff; font-size: 18px;"  %>
    </div>
</div>
