<div class="container">
  <div class="card" style="width: 375px; height: 700px">
    <h2 class= "text font-weight-bold " style="color:#8387F5;">Historical Footprint</h2>
    <canvas id="historyChart" width="400" height="400" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>"></canvas>
  </div>
</div>
