body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.card-forms {
    border: none;
    border-radius: 10px;
    border-top: 5px solid #6EB1F3;
    background: #1D2226;
    color: #E9E9EA
}
.card {
  border: 1.5px solid #434A50;
  background: #1D2226;
  color: #E9E9EA;
  border-radius: 5px
}

p {
    font-weight: 600;
    font-size: 15px
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #1D2226;
    height: 40px;
    width: 90px
}

.fab:hover {
    cursor: pointer
}


.division {
    float: none;
    position: relative;
    margin: 30px auto 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box
}

.division .line {
    border-top: 1.5px solid #BCBDBE;
    position: absolute;
    top: 13px;
    width: 85%
}

.line.l {
    left: 52px
}

.line.r {
    right: 45px
}

.division span {
    font-weight: 600;
    font-size: 14px
}

.myform {
    padding: 0 25px 0 33px
}

.form-control {
    border: 1px solid #BCBDBE;
    border-radius: 3px;
    background: transparent;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.form-control:focus {
    border: 1px solid #BCBDBE;
    border-radius: 3px;
    box-shadow: none;
    background: #38434F;
    color: #E9E9EA;
    letter-spacing: 1px
}

.bn {
    text-decoration: underline
}

.bn:hover {
    cursor: pointer
}

.form-check-input {
    margin-top: 8px !important
}

.btn-primary {
    background-color: transparent;
    border: 2px solid #6EB1F3;
    color: #6EB1F3;
    border-radius: 50px;
    font-size: 14px
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #6EB1F3;
    background-color: #435A71;
    border: 2px solid #6EB1F3;
}

small {
    color: #F2CEFF
}

.far.fa-user {
    font-size: 13px
}

@media(min-width: 767px) {
    .bn {
        text-align: right
    }
}

@media(max-width: 767px) {
    .form-check {
        text-align: center
    }

    .bn {
        text-align: center;
        align-items: center
    }
}

@media(max-width: 450px) {
    .fab {
        width: 100%;
        height: 100%
    }

    .division .line {
        width: 50%
    }
}
