.navbar-lewagon {
  justify-content: space-between;
  background: #1D2226;
  text-decoration-color: #BCBDBE;
  border-bottom: 1.5px solid #434A50;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
