.navbar-lewagon {
  justify-content: space-between;
  background: #f5f7fa;
  text-decoration-color: #344050;
  border-bottom: 1.5px solid #344050;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
