.navbar-lewagon {
  justify-content: space-between;
  background: #f7f6ff;
  text-decoration-color: #344050;
  box-shadow: 0px 0px 10px 5px rgba(150, 150, 150, 0.5);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #a8a8a8;
  text-decoration: none;
  list-style: none;
}
